@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100%;
  font-family: "Segoe UI";
}

/* Paleta de colores */
/* Tamaño de fuente */
/* Fuentes */
/* NAVBAR */
nav.nav__bar {
  text-align: end;
  background-color: rgb(219, 218, 218);
  padding-top: 10px;
  width: 100%;
}
nav.nav__bar label.checkbtn {
  font-size: 40px;
  line-height: 80px;
  margin-right: 20px;
  display: none;
  width: 60px;
  position: relative;
  left: 78%;
}
nav.nav__bar #check {
  display: none;
}
nav.nav__bar ul {
  display: inline-block;
  margin-right: 30px;
}
nav.nav__bar li {
  display: inline-block;
  margin: 6px;
  list-style: none;
  padding: 10px;
  background-color: blue;
  border-radius: 10px;
}
nav.nav__bar li:hover {
  background-color: #2b73f7;
}
nav.nav__bar a {
  text-decoration: none;
  color: aliceblue;
}

/* CABECERA */
section.cabecera {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url(../media/img-header.png);
  background-position: right;
  background-repeat: no-repeat;
  background-color: #2b73f7;
}
section.cabecera .titulo-principal, section.cabecera .subtitulo {
  color: white;
  position: relative;
  top: 125px;
  margin-left: 30px;
  font-size: 50px;
}
section.cabecera .subtitulo {
  top: 132px;
  margin-left: 30px;
}
section.cabecera p.texto_relleno {
  color: white;
  position: relative;
  font-size: 20px;
  top: 130px;
  left: 30px;
  max-width: 600px;
  margin-right: 50px;
}
section.cabecera div.boton_cabecera {
  margin-left: 30px;
  max-width: 180px;
  position: relative;
  top: 110px;
}
section.cabecera div.boton_cabecera a {
  text-decoration: none;
  color: black;
}
section.cabecera h3.texto_boton {
  color: white;
  position: relative;
  font-size: 30px;
  max-width: 300px;
  top: 150px;
  left: 160px;
}

/* CARDS */
.tarjetas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
}
.tarjetas .card-group {
  position: absolute;
  top: 598px;
}
.tarjetas .card-group .card-img-top:hover {
  opacity: 0.8;
}

/* CONTACTO */
section.contacto {
  width: 100%;
  height: 630px;
  display: flex;
}
section.contacto div.info {
  width: 50%;
}
section.contacto div.info .bxs-phone-call {
  font-size: 30px;
  color: #2b73f7;
  position: relative;
  left: 120px;
  top: 80px;
}
section.contacto div.info .texto_contacto, section.contacto div.info .texto_horario {
  font-size: 22px;
  position: relative;
  max-width: 200px;
  left: 180px;
  top: 12px;
  color: #2b73f7;
}
section.contacto div.info p {
  position: relative;
  font-size: 20px;
  max-width: 280px;
  margin: 0px;
  left: 180px;
  top: 10px;
}
section.contacto div.info p.numbers {
  position: relative;
  max-width: 150px;
  bottom: 90px;
  right: 240px;
  margin: 0px 0px 15px 0px;
}
section.contacto div.info .texto_horario {
  max-width: 230px;
  bottom: 0px;
  top: 20px;
  margin: 0px;
}
section.contacto div.info p.horarios {
  top: -10px;
}
section.contacto div.info .bx-time-five {
  font-size: 30px;
  color: #2b73f7;
  position: relative;
  left: 120px;
  top: 30px;
}
section.contacto div.info img.oficinista {
  position: relative;
  bottom: 60px;
  left: 40px;
  height: 500px;
  width: 500px;
}

/* FORMULARIO */
div.formulario {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
}
div.formulario form.form-contacto {
  width: 340px;
  background-color: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 30px;
  margin-left: 14px;
  margin-right: 20px;
  margin-bottom: 50px;
  border-radius: 4px;
  font-family: "calibri";
  color: white;
  box-shadow: 7px 13px 37px #000;
}
div.formulario form.form-contacto h4 {
  font-size: 22px;
  margin-bottom: 20px;
}
div.formulario form.form-contacto input.controls {
  width: 100%;
  background-color: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: "calibri";
  font-size: 18px;
  color: white;
}
div.formulario form.form-contacto input.boton-enviar {
  width: 100%;
  background-color: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin-left: 16px 0;
  font-size: 16px;
}
div.formulario form.form-contacto .boton-enviar:hover {
  background: rgb(31, 83, 197);
  background: linear-gradient(90deg, rgb(31, 83, 197) 27%, rgb(0, 212, 255) 100%);
}
div.formulario form.form-contacto textarea {
  background-color: #24303c;
  border: 1px solid #1f53c5;
  border-radius: 4px;
  width: 100%;
  height: 100px;
  overflow: auto;
  color: white;
}

section.mapa {
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
section.mapa div.ubicacion p.texto_mapa {
  position: relative;
  margin: 20px;
  font-size: 16px;
  top: 50px;
  max-width: 600px;
  min-width: 300px;
  left: 10px;
}
section.mapa div.ubicacion p.texto_mapa span {
  font-weight: bold;
  color: #2b73f7;
}
section.mapa div.ubicacion iframe.mapa {
  width: 600px;
  height: 400px;
  position: relative;
  top: 50px;
  padding: 20px;
}

/* FOOTER */
footer div.container-fluid div.row div.col-xs-12 a {
  color: white;
}
footer div.container-fluid div.row div.col-xs-12 a:hover {
  font-weight: bold;
  color: #2b73f7;
}

/* MEDIA QUERIES */
/* NAV MOBILE*/
@media screen and (max-width: 500px) {
  nav.nav__bar label.checkbtn {
    display: block;
  }
  nav.nav__bar #check:checked ~ ul {
    left: 0;
  }
  nav.nav__bar #check:checked ~ div.navmobile {
    height: 550px;
    bottom: 10%;
    background-color: #24303c;
    transition: all 0.5s;
  }
  nav.nav__bar ul {
    height: 450px;
    width: 100%;
    position: absolute;
    bottom: 100px;
    display: block;
    left: -150%;
    text-align: center;
    transition: all 0.5s;
    background-color: #24303c;
  }
  nav.nav__bar ul li {
    display: block;
    position: sticky;
    margin: 50px 60px;
    line-height: 30px;
  }
  nav.nav__bar ul li a {
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
  }
  nav.nav__bar ul li a.li-enlace {
    padding-left: 65px;
    padding-right: 65px;
  }
}
/* CABECERA */
@media screen and (max-width: 1499px) {
  section.cabecera {
    background-image: url(../media/img-responsive.png);
  }
}
@media screen and (max-width: 1100px) {
  section.cabecera {
    background-image: none;
    background-color: #2b73f7;
  }
}
@media screen and (max-width: 550px) {
  section.cabecera h1.titulo-principal, section.cabecera h1.subtitulo {
    top: 70px;
  }
  section.cabecera h2.subtitulo {
    top: 80px;
  }
  section.cabecera p.texto_relleno {
    top: 80px;
  }
  section.cabecera h3.texto_boton {
    top: 80px;
    left: 30px;
  }
  section.cabecera div.boton_cabecera {
    top: 90px;
  }
}
/* CARDS */
@media screen and (max-width: 1400px) {
  .card-group {
    position: relative;
    justify-content: center;
  }
}
@media screen and (max-width: 2200px) {
  section.tarjetas {
    height: 500px;
  }
}
@media screen and (max-width: 900px) {
  section.tarjetas {
    height: 480px;
  }
}
@media screen and (max-width: 880px) {
  section.tarjetas {
    height: 940px;
  }
}
/* SECCION DE CONTACTO */
@media screen and (max-width: 950px) {
  section.contacto {
    display: block;
  }
  section.contacto div.info {
    width: 100%;
  }
  section.contacto div.info i.bxs-phone-call {
    left: 30px;
    top: 60px;
  }
  section.contacto div.info h3.texto_contacto, section.contacto div.info h3.texto_horario {
    left: 70px;
    top: 0px;
  }
  section.contacto div.info p {
    left: 70px;
    top: 0px;
  }
  section.contacto div.info p.numbers {
    left: 70px;
    top: 0px;
  }
  section.contacto div.info p.horarios {
    position: relative;
    top: -30px;
    right: 90px;
  }
  section.contacto div.info i.bx-time-five {
    left: 30px;
    top: 20px;
  }
  section.contacto div.info img.oficinista {
    display: none;
  }
}
@media screen and (max-width: 950px) {
  section.contacto {
    height: 800px;
  }
}
@media screen and (max-width: 900px) {
  section.contacto {
    height: 750px;
  }
}
@media screen and (max-width: 450px) {
  section.contacto {
    height: 700px;
  }
  section.contacto div.info p {
    font-size: 17px;
  }
}
@media screen and (max-width: 600px) {
  section.mapa div.ubicacion iframe.mapa {
    width: 400px;
    height: 400px;
  }
}

/*# sourceMappingURL=styles.css.map */
