
@import "partials/reset";
@import "partials/variables";
@import "partials/mixins";

/* NAVBAR */
nav.nav__bar {
    text-align: end;
    background-color: rgb(219, 218, 218);
    padding-top: 10px;
    width: 100%;

    ul {
        display: inline-block;
        margin-right: 30px;
    }
        li {
            display: inline-block;
            padding: 10px;
        
            margin: 6px;
            background-color: blue;
            list-style: none;
            border-radius: 10px;
        }
        
        li:hover {
            background-color: $color-principal;
            }
            a {
                text-decoration: none;
                color: aliceblue;
                }
}
/* CABECERA */

section.cabecera {
    position: relative;
    @include tamano(600px,100%);
    background-image: url(../media/img-header.png);
    background-position: right;
    background-repeat: no-repeat;
    background-color: $color-principal;
    
    .titulo-principal {
        color: white;
        position: relative;
        top: 125px;
        margin-left: 30px;
        font-size: $fuente-grande;
    }
    .subtitulo {
        @extend .titulo-principal;
        top: 132px;
        margin-left: 30px;
    }
    p.texto_relleno {
        color: white;
        position: relative;
        font-size: $fuente-mediano;
        top: 130px;
        left: 30px;
        max-width: 600px;
        margin-right: 50px;
    }
    div.boton_cabecera  {
        margin-left: 30px;
        max-width: 180px;
        position: relative;
        top: 110px
    }
        div.boton_cabecera a {
            text-decoration: none;
            color: black;
        }
    h3.texto_boton {
        color: white;
        position: relative;
        font-size: $fuente-mediano + 10;
        max-width: 300px;
        top: 150px;
        left: 160px;
    }
}

/* CARDS */
.tarjetas {
    display: flex;
    justify-content: center;
    align-items: center;
    @include tamano(500px,100%);
    .card-group {
        position: absolute;
        top: 598px;
        .card-img-top:hover {
            opacity: 0.8;
        }
    }
}

/* CONTACTO */
section.contacto {
    @include tamano(720px,100%);
    display: flex;

    div.info {
        width: 50%;
        .bxs-phone-call {
            font-size: 30px;
            color: $color-principal;
            position: relative;
            left: 120px;
            top: 80px;
        }

        .texto_contacto {
            font-size: $fuente-mediano + 2;
            position: relative;
            max-width: 200px;
            left: 180px;
            top: 12px;
            color: $color-principal;
        }
        p {
            position: relative;
            font-size: $fuente-mediano;
            max-width: 280px;
            margin: 0px;
            left: 180px;
            top: 10px;
        }
        p.numbers {
            position: relative;
            max-width: 150px;
            bottom: 90px;
            right: 240px;
            margin: 0px 0px 15px 0px;
        }
        .texto_horario {
            @extend .texto_contacto;
            max-width: 230px;
            bottom: 0px;
            top: 20px;
            margin: 0px;
        }
        p.horarios {
            top: -10px;
        }
        .bx-time-five {
            font-size: 30px;
            color: $color-principal;
            position: relative;
            left: 120px;
            top: 30px;
        }
        img.oficinista {
            position: relative;
            bottom: 60px;
            left: 40px;
            height: 500px;
            width: 500px;
        }
    }
    div.ubicacion {
        width: 50%;
        p.texto_mapa {
            position: relative;
            right: 20px;
            top: 50px;
            max-width: 600px;
            min-width: 320px;
            span {
                font-weight: bold;
                color: $color-principal;
            }
        }

        iframe.mapa {
            @include tamano(500px,540px);
            position: relative;
            right: 20px;
            top: 50px;
        }
    }
}

/* FOOTER */
footer {
    div.container-fluid {
        div.row {
            div.col-xs-12 {
                a {
                    color: white;
                }
                a:hover {
                    font-weight: bold;
                    color: $color-principal;
                }
            }
        }
    }
}


/* MEDIA QUERIES */
/* CABECERA */
@media screen and (max-width: 1499px) {
    section.cabecera {
        background-image: url(../media/img-responsive.png);
    }
}

@media screen and (max-width: 1100px) {
    section.cabecera {
        background-image: none;
        background-color: $color-principal;
    }
}

@media screen and (max-width: 550px) {
    section.cabecera {
        h1.titulo-principal {
            top: 70px;
        }
        h2.subtitulo {
            top: 80px;
        }
        p.texto_relleno{
            top: 80px;
        }
        h3.texto_boton {
            top: 80px;
            left: 30px;
        }
        div.boton_cabecera {
            top: 90px;
        }
    }
}

/* CARDS */
@media screen and (max-width: 1400px) {
    .card-group {
        position: relative;
        justify-content: center;
    }
}

@media screen and (max-width: 900px) {
    section.tarjetas {
        height: 1000px;
    }
}

/* SECCION DE CONTACTO */

@media screen and (max-width: 950px) {
    section.contacto {
        display: block;
        div.info {
            width: 100%;
            i.bxs-phone-call {
                left: 30px;
                top: 60px;
            }
            h3.texto_contacto  {
                left: 70px;
                top: 0px;
            }
            p {
                left: 70px;
                top: 0px;
            }
            p.numbers {
                left: 70px;
                top: 0px;
            }
            p.horarios {
                position: relative;
                top: -30px;
                right: 90px;
            }
            i.bx-time-five {
                left: 30px;
                top: 20px;
            }
            img.oficinista {
                display: none;
            }
        }
        div.ubicacion {
            width: 100%;
            p.texto_mapa {
                left: 40px;
                top: -20px;
                margin: 0px 40px 20px 10px;
            }
            iframe.mapa {
                position: relative;
                @include tamano(300px,340px);
                left: 50px;
                top: -20px;
            }
        }
    }
} 

@media screen and (max-width: 450px) {
    section.contacto {
        div.info {
            p {
                font-size: $fuente-mediano - 3;
            }
        }
        div.ubicacion {
            iframe.mapa {
                @include tamano(300px,300px);
                left: 30px;
            }
        }
    }
}