/* Paleta de colores */
$color-principal: #2b73f7;
$color-secundario: #1f53c5;
$color-terciario: #24303c;

/* Tamaño de fuente */
$fuente-grande: 50px;
$fuente-mediano: 20px;
$fuente-pequena: 12px;

/* Fuentes */
$tipo-de-fuente2: 'calibri';